h1, h2 {
    text-align: center;
}

.text-center{
    text-align: center;
    color:chocolate;

}

#contenido {
    margin-top: 40px;
}
.borrar-tarea,
.borrar-tareat:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}


.hecho-tarea,
.hecho-tarea:hover{
    float: right;
    cursor: pointer;
    color: greenyellow;
    font-weight: bold;
    margin-right: 5px;
}


